.DS_Store
.idea/
.vscode/
*.iml

__pycache__/
*.py[cod]

/tests/
/.test-instance/
/audit-mod/
/bin/install-lunar-wrapper

/authlib/
/libraries/com/mojang/authlib/
authlib-*.jar

/build/
/generated/
**/build/
**/.gradle/
*.class
*.jar

*.log
hs_err_pid*
replay_pid*
*.sb.tmp
